/* header */

header {
    height: 250px;
    font-family: 'Fredericka the Great', cursive;
    background-color: #112A60;    /*#383E4B;*/
    color: #FFF;
    text-align: center;
}

#title-banner {
    margin-top: 100px;
}


/* sidebars */

.aside {
    background-color: #383E4B;
}



/* main content area */

#content {
    height: 100%;
    text-align: center;
}

#home-img {
    margin-bottom: 50px;
}

@media screen and (max-width: 1399px) {
    #home-img {
        width: 300px;
    }
}


/* footer */
footer {
    background-color: #000;
    height: 250px;
    color: #FFF;
    text-align: center;
}