/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
    
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}
    
    
/* Set black background color, white text and some padding */
footer {
    background-color: #8D8B8B; /*#555;*/
    color: #000000;
    padding: 15px;
    font-family: "IM Fell DW Pica", serif;
    font-size: 18px;
}

.text-center {
    text-align: center;
}

ul, ol {
    list-style-type: none;
}
    
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height:auto;
    }
    /* centers ads on small screens */
    aside img {
       margin: 0px auto; 
    }

}
    
/* centers banner img */
#banner-img {
    margin: 0px auto;
}
    
header {
    background-color: #B6BEC0; /*#394650;*/ /* background color of header */
}

/* === NAV BAR === */
nav {
    font-family: "IM Fell DW Pica", serif;  /* font style of nav bar */
    font-size: 23px;  /* font size of nav bar */
}
    
#myNavBar ul li{
    text-align: center;
    
}

/*color of nav bar text without affecting the active class*/
.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}

/*changes nav color; delete this to change back to original*/
.navbar-inverse {
    background-color: #A0A75A; /* lighter charcoal: #8D8B8B; */
}

/* CENTERS NAV BAR */
#nav-div-center, #nav-ul {
    margin: 0px auto;
}

/* CENTERS NAV BAR */
@media (min-width: 768px) {
    .navbar-nav {
        margin: 0px auto;
        float: none;
        display: table;
    }
}

/* === END NAV BAR === */


/* IPHONE 3, 4, 5 PORTRAIT */

@media screen and (width: 320px) {
    nav {
        font-size: 40px;  /* changes font size on smaller screens */
    }
    
    ul {
        padding: 0px;
    }
    
    h1 {
        font-size: 56px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    #content-ads-holding-div p, #content-ads-holding-div li {
        font-size: 34px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #director, #troops {
        margin-left: auto;
        margin-right: auto;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
    
    /* changes header image */
    #banner-img {
        content: url("/images/CWDDPhoneBanner.jpg");
    }
} /* END IPHONE 3, 4, 5 PORTRAIT */




/* IPHONE 3, 4, 5 LANDSCAPE */

@media screen and (width: 568px){
    nav {
        font-size: 40px;  /* changes font size on smaller screens */
    }
    
    ul {
        padding: 0px;
    }
    
    h1 {
        font-size: 56px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    #content-ads-holding-div p, #content-ads-holding-div li {
        font-size: 34px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #director, #troops {
        margin-left: auto;
        margin-right: auto;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
    
    /* changes header image */
    #banner-img {
        content: url("/images/CWDDPhoneBanner.jpg");
    }
} /* END IPHONE 3, 4, 5 LANDSCAPE */


/* iPhones 6, 7, 8 LANDSCAPE */

@media screen and (width: 667px) {
    nav {
        font-size: 40px;  /* changes font size on smaller screens */
    }
    
    ul {
        padding: 0px;
    }
    
    h1 {
        font-size: 56px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    #content-ads-holding-div p, #content-ads-holding-div li {
        font-size: 34px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #director, #troops {
        margin-left: auto;
        margin-right: auto;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
    
    /* changes header image */
    #banner-img {
        content: url("/images/CWDDPhoneBanner.jpg");
    }
}
/* END iPhones 6, 7, 8 LANDSCAPE */


/* iPphones 6, 7, 8 Plus LANDSCAPE */
@media screen and (width: 736px) {
    nav {
        font-size: 40px;  /* changes font size on smaller screens */
    }
    
    ul {
        padding: 0px;
    }
    
    h1 {
        font-size: 56px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    #content-ads-holding-div p, #content-ads-holding-div li {
        font-size: 34px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #director, #troops {
        margin-left: auto;
        margin-right: auto;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
    
    /* changes header image */
    #banner-img {
        content: url("/images/CWDDPhoneBanner.jpg");
    }
}
 /* END iPphones 6, 7, 8 Plus LANDSCAPE */
 
 /* iPhone X LANDSCAPE */
 @media screen and (width: 812px) {
     nav {
        font-size: 20px;  /* changes font size on smaller screens */
    }
    
    ul {
        padding: 0px;
    }
    
    h1 {
        font-size: 56px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    #content-ads-holding-div p, #content-ads-holding-div li {
        font-size: 34px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #director, #troops {
        margin-left: auto;
        margin-right: auto;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
    
    /* changes header image */
    #banner-img {
        content: url("/images/CWDDPhoneBanner.jpg");
    }
 }
 
 /* END iPhone X LANDSCAPE */


/* FOR PHONES IN LANDSCAPE MODE */
@media screen and (width: 640px) {
    nav {
        font-size: 40px;  /* changes font size on smaller screens */
    }
    
    ul {
        padding: 0px;
    }
    
    h1 {
        font-size: 56px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    #content-ads-holding-div p, #content-ads-holding-div li {
        font-size: 34px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #director, #troops {
        margin-left: auto;
        margin-right: auto;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
    
    /* changes header image */
    #banner-img {
        content: url("/images/CWDDPhoneBanner.jpg");
    }
} /*END PHONES IN LANDSCAPE MODE */


/* FOR PHONE SCREENS: PORTRAIT */
@media screen and (min-width: 167px) and (max-width: 414px) {
    nav {
        font-size: 40px;  /* changes font size on smaller screens */
    }
    
    ul {
        padding: 0px;
    }
    
    h1 {
        font-size: 56px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    #content-ads-holding-div p, #content-ads-holding-div li {
        font-size: 34px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #director, #troops {
        margin-left: auto;
        margin-right: auto;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
    
    /* changes header image */
    #banner-img {
        content: url("/images/CWDDPhoneBanner.jpg");
    }
}  /* END PHONE SCREENS: PORTRAIT */


/* FOR iPAD SCREENS, PORTRAIT 768x1024*/
@media screen and (width: 768px) and (orientation: portrait) {
    nav {
        font-size: 20px;
    }
    
    h1 {
        font-size: 78px;
    }
    
    h3 {
        font-size: 56px;
    }
    
    #content-ads-holding-div p, #content-ads-holding-div li {
        font-size: 48px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #director, #troops {
        margin-left: auto;
        margin-right: auto;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
}  /* END iPAD SCREENS, PORTRAIT */




/* FOR iPAD SCREENS, LANDSCAPE */

@media screen and (orientation: landscape) and (width: 1024px) {
    nav {
     /*   font-size: 20px; */
    }
    
    h1 {
        font-size: 78px;
    }
    
    h3 {
        font-size: 56px;
    }
    
    #content-ads-holding-div p, #content-ads-holding-div li {
        font-size: 48px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #director, #troops {
        margin-left: auto;
        margin-right: auto;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
} 

/* END iPAD SCREENS, LANDSCAPE */


/* FOR iPAD PRO SCREENS, PORTRAIT 1024x1366 */

@media screen and (orientation: portrait) and (width: 1024px) {
    nav {
     /*   font-size: 20px; */
    }
    
    h1 {
        font-size: 78px;
    }
    
    h3 {
        font-size: 56px;
    }
    
    #content-ads-holding-div p, #content-ads-holding-div li {
        font-size: 48px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #director, #troops {
        margin-left: auto;
        margin-right: auto;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
} 

/* FOR iPAD PRO SCREENS, PORTRAIT 1024x1366 */


/* FOR TABLET SCREENS 
@media screen and (min-width: 853px) and (max-width: 1024px) {
    
    .img-responsive {
        margin: auto;
    }
    
    h1 {
        font-size: 48px;
    }
    
    p, li {
        font-size: 24px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    .hidden {
        display: hidden;
    }
}   END TABLET SCREENS */


/* 1152 x 864 */
@media screen and (width: 1152px) {
    
    .img-responsive {
        margin: auto;
    }
    
    h1 {
        font-size: 48px;
    }
    
    p, li {
        font-size: 24px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    /*
    #bottom-left {
        float: left;
        margin-left: 76px;
    }
    
    #director, #troops {
        margin: 0px !important;
        padding: 0px !important;
    }
    */
    .hidden {
        display: hidden;
    }
}
/* END 1152 x 864 */

/* FOR SMALL LAPTOP SCREENS: 1280 x 800 */
@media screen and (min-width: 1153px) and (max-width: 1365px) {
    
    .img-responsive {
        margin: auto;
    }
    
    h1 {
        font-size: 48px;
    }
    
    p, li {
        font-size: 24px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #bottom-left {
        float: left;
        margin-left: 76px;
    }
    
    #director, #troops {
        margin: 0px !important;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
} /* END SMALL LAPTOP SCREENS: 1280 x 800 */

/* FOR 1366x768 SCREENS */
@media screen and (min-width: 1281px) and (max-width: 1366px) {
    
    .img-responsive {
        margin: auto;
    }
    
    h1 {
        font-size: 48px;
    }
    
    p, li {
        font-size: 24px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #bottom-left {
        float: left;
        margin-left: 119px;
    }
    
    #director, #troops {
        margin: 0px !important;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
} /* END 1366x768 SCREENS */

/* FOR 1440x900 SCREENS */
@media screen and (min-width: 1367px) and (max-width: 1440px) {
    
    .img-responsive {
        margin: auto;
    }
    
    aside p, aside p a #vict-needle-ad, #wambaugh-ad-pic {
        
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        font-size: 48px;
    }
    
    p, li {
        font-size: 24px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #bottom-left {
        float: left;
        margin-left: 155px;
    }
    
    #director, #troops {
        margin: 0px !important;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
} /* END 1440x900 SCREENS */

/* FOR 1600x900 SCREENS */
@media screen and (min-width: 1441px) and (max-width: 1601px) {
    
    .img-responsive {
        margin: auto;
    }
    
    aside p, aside p a #vict-needle-ad, #wambaugh-ad-pic {
        
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        font-size: 48px;
    }
    
    p, li {
        font-size: 24px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #bottom-left {
        float: left;
        margin-left: 235px;
    }
    
    #director, #troops {
        margin: 0px !important;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
} /* END 1600x900 SCREENS */



/* FOR 1680x1050 SCREENS */
@media screen and (min-width: 1601px) and (max-width: 1680px) {
    
    .img-responsive {
        margin: auto;
    }
    
    aside p, aside p a #vict-needle-ad, #wambaugh-ad-pic {
        
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        font-size: 48px;
    }
    
    p, li {
        font-size: 24px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #bottom-left {
        float: left;
        margin-left: 275px;
    }
    
    #director, #troops {
        margin: 0px !important;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
} /* END 1680x1050 SCREENS */

/* FOR BIG DESKTOP SCREENS: 23"+ */
@media screen and (min-width: 1681px) {
    
    h1 {
        font-size: 48px;
    }
    
    p, li {
        font-size: 24px;
    }

    #content-ads-holding-div { 
        margin-left: 20px;
        margin-right: 20px;
        height: 100%;
    }
    
    .img-responsive {
        margin: auto;
    }
    
    #bottom-left {
        float: left;
        margin-left: 395px;
    }
    
    #bottom-right {
        margin-right: 130px;
        
    }
    
    #director, #troops {
        margin: 0px !important;
        padding: 0px !important;
    }
    
    .hidden {
        display: hidden;
    }
} /* END BIG DESKTOP SCREENS */
  
h1, h2, h3, h4, p, li {
    font-family: "IM Fell DW Pica", serif;
    text-align: center;
    position: static;
}

/* DROPDOWN MENU BUTTONS */
.dropdown-menu li a, .dropdown-menu li, .icon-bar {
    color: #000000 !important;
    font-size: 20px;
}