/* large screens */

@media screen and (min-width: 1600px) {
    #video-wrapper {
        height: 100%;
    }
}

/* end large screens */


/* medium screens */
@media screen and (min-width: 1080px) and (max-width: 1599px){
    #video-wrapper {
        height: 100%;
    }
}


@media screen and (min-width: 1000px) and (max-width: 1070px){
   #video-wrapper {
        height: 100%;
    }
}

/*end medium screens */



/* mobile & tablet screens */

@media screen and (max-width: 999px){
    #video-wrapper {
        height: 100%;
    }
}

ul {
    list-style-type: none;
}

.underline {
    text-decoration: underline;
}

#header-title {
    margin-top: 50px;
}