/* setting up background colors */

#content, #nav {
    background-color: #F5EEE1;
}

.header, #left-bar, #right-bar {
    background-color: #10277C;
}
footer {
    background-color: #52576E;
}
/* font */

body {
    font-family: 'Stylish', sans-serif;
    font-size: 24px;
}

/* alignment styling for content columns */

.center-text {
    text-align: center;
}

.ul {
    text-decoration: underline;
}

@media screen and (min-width: 812px) {
    .price {
        text-align: center;
    }
    .song, .button {
        text-align: left;
    }
}

@media screen and (max-width: 811px) {
    .price, .song, .button, .group-title {
        text-align: center;
    }
}

/* temp height for header until we have a banner pic */
/* other header settings */

.header {
    color: #FFF;
    text-align: center;
}

@media screen and (min-width: 812px) {
    .header {
        height: 250px;
        color: #FFF;
    }

    #middle-header h1{
        text-align: center;
        margin-top: 100px;
    }
    
    footer {
        height: 250px;
    }
}
