/*=== body/content ===*/
body {
    font-family: 'IM Fell DW Pica', serif;
}

.center {
    text-align: center;
}

#header-title {
    margin-top: 30px;
}

.episode-title {
    font-size: 20px;
}

.heading {
    font-size: 24px;
}

.link-size {
    font-size: 18px;
}